body{
  width: 80%;
  margin: 0 auto;
}

ul{ 
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

li{
  list-style-type: none;
}

.content1{
  background-color: aqua;
  display: none;
}

.content2{
  background-color: blue;
  display: none;
}

.content3{
  background-color: yellowgreen;
  display: none;
}